*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}   
body{
    background-color: #f6f8fc; 
}

.content{
    padding: 1rem;
    background-color: #656363;
    height: 100vh;
    width: 100vw;
}


h1{
    padding-left: 1rem;
}
.pokemons{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding:1rem;
    color: #fff;
    border-radius: 1rem;
}

.grass{
    background-color: #49d0b0;   
}

.fire{
    background-color:#fb6c6c;
}

.water{
    background-color: #76bdfe;
}

.bug{
    background-color:#91ba30;
}

.normal{
    background-color: #a8a878;
}

.flying{
    background-color: #a890f0;
}

.electric{
    background-color: #ffc421;
}

.poison{
    background-color: #621481;
}

.ground{
    background-color: #abab7c;
}

.pokemon .details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemons .details img{
    max-width: 100%; /*O tamanho sendo 100% do container para não ultrapassa-lo*/
    height: 65px;
    align-self: flex-end;
}

.pokemons .pokemon{
    background-image: url(/kisspng-computer-icons-encapsulated-postscript-screenshot-pokeball-5ad45976d5eaa8.8453832015238659748762.png);
    background-position: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 6.5rem;
}

.pokemon .name{
    font-weight: bold;
    color: #fff;
    margin-bottom: .25rem;
    text-transform: capitalize;
}

.pokemon .number{
    color: #000;
    opacity: .3;
    font-size: .625rem;
    text-align: right;
}

.pokemon .types{
    padding: 0;
    margin: 0;
    list-style: none;
}


.pokemon .types .type{
    filter: brightness(1.1);
    display: flex;
    border-radius: 1rem;
    width: 60px;
    font-size: .825rem;
    align-items: center;
    justify-content: center;
    padding: .25rem 1rem;
    margin-top: 3%;
}

.pokemon .types .grass{
    background-color: #53A063;
}

.pokemon .types .poison{
    background-color: #8E00FA;
}

.pokemon .types .fire{
    background-color: #fd8585;
}

.pokemon .types .flying{
    background-color: #AAB3C7;
}

.pokemon .types .water{
    background-color: #6890f0;
}

.pokemon .types .bug{
    background-color: #a4b31c; 
}

.pokemon .types .normal{
    background-color: #8e8c60;
}

.pokemon .types .electric{
    background-color: #ffd52d;
}

.pokemon .types .ground{
    background-color: #ab9654;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button{
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: white;
    padding: .25rem 1rem;
    font-size: .825rem     ;
}