
@media screen and (min-width: 992px) {
    .content{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
    .pokemons .pokemon{
        background-position: center
    }
    .pokemons .details img{
        height: 90px;
    }
}

@media screen and (max-width: 374px) {
    .pokemons{
    grid-template-columns: 1fr;
    }   
}

@media screen and (min-width: 576px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .pokemons .pokemon{
        background-position: center;
    }
}

@media screen and (min-width: 992px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}